{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
body {
    padding: 0;
    margin: 0;
    background-color: #3c8dbc;
}

form {
    margin: 180px auto 0 auto;
    width: 200px;
    height: auto;
    /*background-color: #000;*/
}

label {
    width: 58px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

input {
    padding: 5px 5px;
    width: 118px;
    border: 1px #dedede solid;
    border-radius: 4px;
}

button {
    padding: 2px 5px;
    /*margin-left: 28px;*/
    width: 58px;
    font-size: 14px;
    color: #585858;
    border: 1px #dedede solid;
    border-radius: 4px;
}
</style>
{% endblock %}

{% block body %}
<form action="{{ path('admin_login') }}" method="post">
    {# error tips #}
    {% if error %}
        <div style="color: red; text-align: center;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div style="margin-bottom: 10px;">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="password">密&nbsp;&nbsp;&nbsp;码:</label>
        <input type="password" id="password" name="_password">
    </div>
    <div style="margin-bottom: 20px;">
        <label for="submit">&nbsp;</label>
        <button type="submit">登录</button>
    </div>
</form>
{% endblock %}