.article {
    float: left;
    width: 885px;
}
h1.title {
    padding: 15px 20px 5px 20px;
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
}
.attribute {
    padding: 0 20px 10px 20px;
    color: #bbb;
    border-bottom: 1px solid #e5e5e5;
}
.content {
    padding: 0 20px;
}
.summary {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
}
pre {
    border: 1px solid #ccc;
    border-radius: 4px;
}